body {
    background-image: url("WallpaperDog.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}


h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}

#main {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20%;
}

#increment-btn {
    background: rgb(146, 106, 239);
}

#save-btn {
    background: rgb(233, 185, 235);
}
